<table class="table">
  <thead>
    <tr>
      <th scope="col">Project Id</th>
      <th scope="col">Start Date</th>
      <th scope="col">Time To Start</th>
      <th scope="col">End Date</th>
      <th scope="col">Credit</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of userData">
      <th scope="row">
        {{item.ProjectId}}
      </th>
      <td>
        {{item.StartDate}}
      </td>
      <td>
        {{item.StartTime}}
      </td>
      <td>
        {{item.EndDate}}
      </td>
      <td>
        {{item.Credits}}
      </td>
      <td>
        {{item.Status}}
      </td>
    </tr>
  </tbody>
</table>
