<mat-toolbar color="primary">
  <span>User Project</span>
</mat-toolbar>
<div class="container">
  <mat-card>
    <mat-card-title color="primary">User's Projects</mat-card-title>
    <mat-card-content>
      <mat-form-field class="col-12">
        <mat-select (selectionChange)="listProject($event)">
          <mat-option value="" selected>----------</mat-option>
          <mat-option *ngFor="let user of users" [value]="user.Id">
            {{user.FirstName}}
            {{user.LastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="show; else msg">
        <app-table [userData]="userData"></app-table>
      </div>
      <ng-template #msg>
        <p><strong>No Data to Show...</strong></p>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
